<div class="col-md-4">
  <table class="table person-card">
    <tr>
      <td class="small-person-pic"><%= image_tag photo_url(person, size: 64), class: 'img-person img-person-small img-circle' %></td>
      <td>
        <h3><%= link_to person.name, person %> <%= admin_tag(person) %></h3>
        <%= render partial: 'people/person_tag', collection: person.tags %>
      </td>
    </tr>
  </table>
</div>
