<tr>
  <td>
    <%= icon(person_attribute.icon, person_attribute.attribute_name) %>
  </td>
  <td class="no-wrap">
    <%= person_attribute.attribute_name %>
  </td>
  <td>
    <%= person.attribute_value(person_attribute) %>
  </td>
</tr>
