<div>
  <%= text_field_tag 'person[tag_list]', person.tag_list.join(','), id: "person_tags_#{person.id}", class: 'form-control' %>
  <script>
    var tags_in = $('#person_tags_<%= person.id %>')
    tags_in.tagsinput();

    tags_in.tagsinput('input').typeahead({
      prefetch: '<%= people_tags_list_path %>'
    }).bind('typeahead:selected', $.proxy(function (obj, datum) {
      tags_in.tagsinput('add', datum.value);
        tags_in.tagsinput('input').typeahead('setQuery', '');
    }, $('input')));
  </script>
</div>
