<div class="row">
  <%= render partial: 'bulk_edit_form', collection: @people, as: :person %>
  <% if @bulk_update_person_id %>
    <script>window.location.hash = 'p_<%= @bulk_update_person_id %>';</script>
  <% end %>
</div>
