<% if params[:q] %>
  <%= render partial: 'search_result', collection: @people,
      locals: { search_query: params[:q] },
      spacer_template: 'search_spacer' %>
<% else %>
  <div class="row">
    <%= render @people %>
  </div>
<% end %>
