<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @person.name %></h1>
    <p>
      You registered with company called <%= @company.name %>.
      <% if @person.joined_at %>
        To login to the site, just follow this link: <%= new_person_session_path(only_path: false) %>.
      <% else %>
        Please wait while your account is approved by company administrators.
      <% end %>
    <p>
    <p>Thanks and have a great day!</p>
  </body>
</html>
