<hr />
<footer>
  <p class="pull-right"><a href="#">Back to top</a></p>
  <p>&copy; 2013 Teamraft &middot; <%= link_to 'Privacy', privacy_path %> &middot; <%= link_to 'Terms', terms_path %></p>
</footer>
