<div class="container marketing">

  <div class="jumbotron jumbotron-welcome text-center no-bg">
    <h1>TEAM<wbr>RAFT</h1>
    <h2 class="text-muted">Roll Your Own HR. (beta)</h2>
  </div>


  <div class="row featurette featurette-last">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
      <%= form_tag do %>
        <div class="form-group text-center">
          <%= email_field_tag 'contact_email', nil, placeholder: 'your@email.com', class: 'form-control' %>
        </div>
        <%= submit_tag 'I want in!', class: 'btn btn-success' %>
      <% end %>
    </div>
    <div class="col-md-4"></div>
  </div>

  <!-- /END THE FEATURETTES -->

</div><!-- /.container -->

