<div class="row">
  <div class="col-md-6">
    <div class="jumbotron">
      <h1>Add someone to <%= @company.name %></h1>
      <h3>Or give them this registration link:</h3>
      <%= text_field_tag 'copy_me', himself_register_path(@company.name, @company.registration_code, only_path: false), readonly: true, class: 'form-control' %>
    </div>
  </div>
  <div class="col-md-6">
    <%= render 'person_form', person: @person, company: @company %>
  </div>
</div>
